/* .circle {
 position: relative;
   background-image: linear-gradient(55deg, #e86b61 30%, #eee2df 90%);
  filter: blur(radius);
}

.circle::before {
  content: "";
  position: absolute;


  background-image: url(../../public/grain.png);
  mix-blend-mode: soft-light;
} */






