.home-row {
  height: 100vh;
  position: relative;
  z-index: 99;
}

.header {
  display: inline-block;
  margin-bottom: 17px;
}

.header-p {
  letter-spacing: 0.8px;
}

.scroll {
  position: absolute;
  bottom: 10%;
  right: 15%;
}

.wrap {
  border-right: 0.08em solid black;
}

.home-circle {
  background-color: #87a2ff;
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  z-index: -1;
  filter: blur(12rem);
  position: absolute;
  top: -20%;
  right: 60%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}
.home-circle-2 {
  background-color: #6cfbce;
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  z-index: -1;
  filter: blur(12rem);
  position: absolute;
  top: 0;
  right: 20%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

.home-icon {
  transition: transform 0.2s;
  color: black;
}

.home-icon:hover {
  transform: scale(1.3);
}

.lineChildren {
  transform: translate(0, 500px);
}

/* 
// Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .header {
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 6px;
  }
  .home-icon {
    width: 15px;
    height: 15px;
  }
  .scroll {
    scale: 0.5;
    bottom: 45%;
    right: 10%;
  }
  .home-row {
    height:   100vh;
    margin-top: 3rem;
    justify-content: center;
  }
  .header::after {
    content: "";
    position: absolute;
    left: 10%;
    bottom: -30%;
    width: 80%;
    height: 0.5px;
    background-color: black;
  }
}

@media (min-width: 576px) {
  .header {
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 6px;
  }
  .home-icon {
    width: 15px;
    height: 15px;
  }
  .scroll {
    scale: 0.5;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .header {
    font-size: 3rem;
    font-weight: 1000;
    letter-spacing: 6px;
  }
  .home-icon {
    width: 25px;
    height: 25px;
  }
}



/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .header {
    font-size: 5rem;
    font-weight: 1000;
    letter-spacing: 8px;
  }
}
