.home-row {
  height: 100vh;
  position: relative;
}

.header {
  font-size: 5rem;
  font-weight: 1000;
  letter-spacing: 8px;

  display: inline-block;
  margin-bottom: 17px;
}
/* .header span {
  /* -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; */
/* color: #1257CB; */

/* text-shadow: -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 1px 0 rgb(0, 0, 0),
    0 -1px rgb(0, 0, 0); */
/* } */
.header-p {
  letter-spacing: 0.8px;
}

.scroll {
  position: absolute;
  bottom: 10%;
  right: 15%;
}

.wrap {
  border-right: 0.08em solid black;
}

.home-circle {
  background-color: #87a2ff;
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  z-index: -1;
  filter: blur(12rem);
  position: absolute;
  top: -20%;
  right: 60%;
}
.home-circle-2 {
  background-color: #6cfbce;
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  z-index: -1;
  filter: blur(12rem);
  position: absolute;
  top: 0;
  right: 20%;
}

.home-icon {
  width: 25px;
  height: 25px;
  transition: transform 0.2s;
  color: #1257cb;
}

.home-icon:hover {
  transform: scale(1.3);
}

/* .circle {
    position: relative;
      background-image: linear-gradient(55deg, #e86b61 30%, #eee2df 90%);
     filter: blur(radius);
   }
   
   .circle::before {
     content: "";
     position: absolute;
   
   
     background-image: url(../../public/grain.png);
     mix-blend-mode: soft-light;
   } */

.circle {
  filter: blur(2px);
}
