.scroll_down {
  align-self: flex-end;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
  text-decoration: none;
  color: black;
}
.container {
  margin-top: 8rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container h1 {
  max-width: 500px;
  width: 100%;
  font-size: 3rem;
}
.container h3 {
  margin-top: 0.05rem;
  font-size: 1.1rem;
  font-weight: 400;
}

.circle{
  display: flex;
  justify-content: end;
  align-items: end;
}


@media (max-width: 1024px) {
  .container h1 {
    font-size: 2.5rem;
    max-width: 400px;
    width: 100%;
  }
  .container h3 {
    font-size: 1rem;
    max-width: 400px;
    width: 100%;
  }
  .container {
    margin-top: 4rem;
    height: 68vh;
  }
}

@media (max-width: 600px) {
  .container h1 {
    font-size: 2.5rem;
    max-width: 400px;
    width: 100%;
  }
  .container h3 {
    font-size: 1rem;
    max-width: 400px;
    width: 100%;
  }
  .container {
    margin-top: 4rem;
    height: 100vh;
  }
  .scroll_down {
    display: none;
  }
}
