.projects {
  padding: 150px 0 100px 0;
  height: 100vh;
}

.project-bx{
    background: linear-gradient(
        135deg,
        rgba(232, 107, 97, 0.1),
        rgba(238, 226, 223, 0)
      );
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
     
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.15);
    
      border-radius: 64px;
    
      
      padding: 60px 50px;
      margin-top: -60px;
      z-index: 9999;
}

.project-title {
  font-weight: 700;
  font-size: 25px;
}
