



.project-container {
  /* border: 1px solid black; */
  height: 100vh;
  position: relative;
}
.project-background-title {
  position: absolute;

  right:0;
  top: 50%;
  transform: translateX(50%) translateY(-50%) rotate(90deg);

  font-size: 6rem;
  font-weight: 1000;
  letter-spacing: 1.1rem;
  color: rgb(255, 255, 255, 0.2);
  text-transform: uppercase;
}

.project-container img {
  max-width: 100%;
  height: auto;
}

.project-number {
  font-size: 5rem;
  font-weight: 1000;
  letter-spacing: 8px;
  color: rgb(255, 255, 255, 0.8);
  position: absolute;
  top: 12%;
  left: 5%;
}

.project-text {
  color: white;
  text-align: left;
  margin-right: 3rem;
}

.project-buttons a {
  background-color: transparent;
  border: none;
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  min-width: 200px;

  font-size: 20px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.project-buttons a:hover {
scale: 20px;
background-color: black;
border: black;
}

.project-list{
    flex: 0 0 200px;
  background: var(--accent);
  margin: 0 20px 0 0;
}


