.scroll_button {
  position: fixed;
  width: 100%;
  left: 0%;
  bottom: 80px;
  height: 20px;
  font-size: 3rem;
  z-index: 1;
  cursor: pointer;
  background-color: transparent !important;
  border: none;
}

.scroll_button:active,
.scroll_button:focus {
  background-color: transparent !important;
  border: none !important;
}


