.ToolCardSmall h2 {
  font-size: 20px;
}

.ToolCardSmall {
  margin-bottom: 10rem;
}

.titles {
  font-size: 15px;
  text-align: left;
}
.ToolCardSmall2::after {
  content: "";
  width: 90%;
  margin: 25px 0;
  height: 0.5px;
  background-color: white;
  opacity: 30%;
}
