* {
  box-sizing: border-box;
}

:root {
 
 
  --pink-color: #e86b61;
  --color-gray-900: #1c1b1b;
  --background-color: #eee2df;
}

body {

  margin: 0 auto;
  font-family: "Mulish", sans-serif;
  background: linear-gradient(#eee2df, #f8f7f7);
  overflow-x: hidden;
  font-weight: 400;
  
}




html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

/* idk czy to ok */
::-webkit-scrollbar {
  display: none;
}
/* idk czy to ok */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}




/* a links for icons*/







/* a links for icons*/

